# Python cache
__pycache__/
*.pyc

# IDE
.vscode/

# Kimimaro: exclude all except scripts/
kimimaro/*
!kimimaro/scripts/

# skeleton_python
skeleton_python/old_pipeline/*
skeleton_python/DATA/*
!skeleton_python/DATA/example_input/*
!skeleton_python/DATA/example_input/.gitkeep
skeleton_python/output/*
!skeleton_python/output/example_output/*
!skeleton_python/output/example_output/.gitkeep
!skeleton_python/output/example_output_projections/

# other folders
DATA
segment/*
skeleton_result_fiji/*
skeleton_result_kimimaro/*
